h1{
			background-color:PaleVioletRed ;text-align:center;padding: 20px;color: purple;
		}
		p{
		   color: purple;font-size: 20px;
		}
		
		body{
 			 padding: 10px;margin: 10px;border: 2px;
		}